{% extends 'base.html.twig' %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    <h1>Modifier la sortie : {{ sortie.nom }}</h1>

    {{ include('sortie/_form.html.twig') }}

    <form method="post" action="{{ path('app_sortie_delete', {id: sortie.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette sortie ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sortie.id) }}">
        <button class="btn-suppression">Supprimer la sortie</button>
    </form>

{% endblock %}
