{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie</h1>

    {{ include('sortie/_form.html.twig') }}

    <button class="btn">Enregistrer</button>
    <button class="btn">Publier la sortie</button>
    <button class="btn">Annuler</button>
{% endblock %}
