Couleurs
/* :root {
    --jaune-sortir: #ffce00;
    --violet-sortir: #180344;
    --blanc: #FFFFFF;
} */

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header{
    display: flex;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #180344;
    color: #FFF;
}

header a,
header a:focus,
header a:active{
    color: #FFF; 
}

.header-logo{
    height: 100%;
}

.header-logo img{
    height: 100%;
}

main{
    flex: 1;
}

footer{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #180344;
    color: #FFF;
}

.profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil ul{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profil h1{
    text-align: center;
}

.profil li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 3rem;
    width: 100%;
    justify-content: flex-start;
}

.profilP{
    width: 7rem;
    font-weight: 700;
    font-size: 1.1em;
    text-transform: uppercase;
}

.profil .profilBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profil .profilBtn a{
    color: #ffce00;
    background-color: #180344;
    padding: 0.2rem 1.5rem;
    text-decoration: none;
    margin-right: 1rem;
    border-radius: 10px;
}

.profil .profilBtn a:hover{
    color: #180344;
    background-color: #ffce00;
}

.profilUpdate .btn{
    color: #ffce00;
    background-color: #180344;
    padding: 0.2rem 1.5rem;
    text-decoration: none;
    margin-right: 1rem;
    border-radius: 10px;
}

.profilUpdate .btn:hover{
    color: #180344;
    background-color: #ffce00;
}

.prodil-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 255, .2);
    margin-bottom: 4rem;
}

.profil-image{
    border-right: 1px solid #333;
    padding-right: 5rem;
}

.profil-text ul{
    width: 100% !important;
}

.profil-text ul li{
    grid-template-columns: 0.3fr 1fr !important;
}